<div id="new-form-container" class="row justify-content-md-center">
  <div class="col-12 col-lg-4">
    <%= simple_form_for(@user_login_form, url: users_sessions_path, as: :user, method: :post, remote: true, wrapper: :floating_form) do |f| %>
      <div class="text-center">
        <img class="mb-4 rounded" src="<%= asset_path('login.jpg') %>" width="250px" />
      </div>

      <%= f.input :username, required: false, placeholder: 'username', wrapper_html: { class: 'mb-3' } %>
      <%= f.input :password, required: false, placeholder: 'password' %>

      <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">
        <%= t('.submit') %>
      </button>
    <% end %>
  </div>
</div>

<p class="my-4 text-center text-muted small fw-lighter">
  <%= t('.credits') %> <a class="text-reset" href="http://www.brainlesstales.com/2010-03-24/you-must-login-first" target="_blank">Brainless Tales</a>.
</p>